@font-face {
    font-family: NMSS;
    src: url(assets/NMSS.otf);
}

#stats {
    font-family: NMSS;
    font-size: 7vw;
    color: #FFFFFF;
    background-color: #FF001F;
}

#event_name {
    font-size: 4vw;
    text-align: center;
    padding: 41px;
}

#days, #hrs, #mins, #secs{
    display: inline-block;
    background-color: #FF001F;
    padding-right: 8vw;
}

#days {
    padding-left: 16vw;
}

#d, #h, #m, #s{
    font-size: 3vw;
    display: inline-block;
    background-color: #FF001F;
    vertical-align: top;
}

#d {
    padding-left: 22vw;
    padding-right: 14vw;
}

#h {
    padding-right: 9vw;
}

#m {
    padding-right: 10vw;
}

body {
    margin: 0px;
}

#image {
    width: 100%;
    height: 100%;
}

#image_div {
    height: 60vh;
    width: 60vw;
    margin: 0 auto;
    background-color: #FFFFFF;
}